@charset "UTF-8";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor0: #fff;
    --cor1: #000;
    --cor2: #49a09d;
    --cor3: #5f2c82;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, var(--cor2), var(--cor3));
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor0);
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

#login #imagem{
    display: block;
    background: var(--cor3) url(../imagens/imagem-login.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#login #formulario{
    display: block;
    padding: 10px;

}

#formulario h1{
    text-align: center;
    margin-bottom: 10px;

}

#formulario p{
    font-size: 0.8em;

}

form .campo{
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}

.campo label{
    display: none;
}

.campo span{
    color: #fff;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo input{
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    transform: translateY(-12.5px);
    border-radius: 8px;
    border: 0px;
    padding: 4px;
}

.campo input:focus-within{
    background-color: #fff;
}

form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type=submit]:hover{
    background-color: #2d6462;
}

form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
    color: #2d6462;
    padding-top: 5px;
    margin-top: 5px;
}

form a.botao:hover{
    background-color: #6cd3cf;
}

form a.botao span{
    font-size: 0.8em;
}